/* Remove default margins from document */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    border-bottom: 3px solid black;
    color: var(--text-color);
    box-sizing: border-box;
}

#navbar p {
    font-size: 4rem;
    margin: 0;
    line-height: 5rem;
    align-items: center;
    justify-self: center;
}

#navButtons {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
}

#navButtons button {
    height: 100%;
    background-color: gray;
    border: none;
    border-left: 2px solid black;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

#navButtons button:hover {
    background-color: var(--accent-color);
}

#contacts {
    display: flex;
    flex-direction: column;
    background-color: green;
    border: 1px solid black;
    border-radius: 15px;
    margin: 4rem 5%;
    overflow: hidden;
}

#contactsTable {
    width: 100%;
    padding: 3%;
    border-collapse: collapse;
}

#contactsTable thead th {
    background-color: gray;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    border: 2px solid black;
    text-align: center;
}

#contactsTable tbody tr {
    background-color: beige;
    margin: 0;
    padding: 0;
}

#contactsTable tbody tr:nth-child(even) {
    background-color: bisque;
    margin: 0;
}

#contactsTable tbody td {
    padding: 4px 8px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

#contactsTable tbody td ul {
    list-style-position: inside;
    /* Optional: Keeps bullets inside the cell */
    margin: 0;
    padding: 0;
    text-align: center;
    /* Centers the text of the list items */
}

#contactsTable tbody td ul li {
    display: inline-block;
    text-align: center;
}