html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    height: 100%;
    box-sizing: border-box;
}


/* Style 2 */

:root {
    --background-color: #F0F7F4;
    --box-color: #1E3A5F;
    --text-color: #FFFFFF;
    --table-text-color: #2B3A42;
    --header-text-color: #AEEEEE;
    --table-header-text-color: #002627;
    --accent-color: #0096C7;
    --border-color: #48CAE4;
    --table-header: #0096C7;
    --table-row-1: #90E0EF;
    --table-row-2: #CAF0F8;
    --button-color: #0077B6;
    --button-alt-color: #357aBD;
    --button-hover-color: #005F99;
    --button-text-color: #FFFFFF;
}


/*Dark mode*/

.darkMode {
    --background-color: #1B2B34;
    --box-color: #1E3A5F;
    --text-color: #E0F2F1;
    --table-text-color: #AEEEEE;
    --header-text-color: #AEEEEE;
    --table-header-text-color: #E0F2F1;
    --accent-color: #0096C7;
    --border-color: #48CAE4;
    --table-header: #005F77;
    --table-row-1: #14495E;
    --table-row-2: #113D50;
    --button-color: #004366;
    --button-alt-color: #0077B6;
    --button-hover-color: #002F4B;
    --button-text-color: #FFFFFF;
}