html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(155deg, #2c3e50, #34495e, #4f87a6, #1abc9c, #f39c12);
}

#loginPage {
    display: flex;
    height: 100vh;
    background: transparent;
}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 32%;
    height: 75%;
    margin: auto;
    padding-top: 25px;
    background-color: #f1c27d;
    border: 3px solid white;
    border-radius: 35px;
}

.hidden {
    display: none;
}

#menuButtons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

#menuButtons button {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #4eabf8;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#menuButtons button:hover {
    background-color: #69f5fe;
}

#menuButtons button.activePage {
    background-color: #1abc9c;
    color: white;
}

#welcomeMsg {
    text-align: center;
    margin-bottom: 10px;
}

#welcomeTitle {
    color: var(--accent-color);
    font-size: 32px;
    margin-bottom: 5px;
}

#welcomeDesc {
    color: var(--secondary-text-color);
    font-size: 18px;
}

#menuName {
    font-size: 20px;
    text-decoration: underline;
    align-self: center;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*Remove after verifying it looks good*/
}

#inputs input {
    padding: 10px;
    margin: 2% 5%;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background: #7ec8e3;
}

#inputs input:focus {
    border: 2px solid #78eec5;
    outline: none;
}

#inputs button {
    background-color: #4eabf8;
    width: 25%;
    padding: 10px;
    font-size: 14px;
    color: black;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#inputs button:hover {
    background-color: #69f5fe;
}

#loginResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#passRequirements {
    margin-left: 20px;
}

#passRequirements ul {
    list-style-type: circle;
    /*Can replace with a special symbol if we want*/
    margin-bottom: 10px;
}

#passRequirements li {
    margin-left: 5px;
    font-size: 12px;
}

#imageBox {
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    background: transparent;
}

#logoImage {
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
}