*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background: var(--background-color);
}

#loginPage {
    display: flex;
    height: 100vh;
    background: transparent;
}

.loginBox {
    scale: 1.03;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: var(--box-color);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    border-radius: 17px;
}

#loginMenu {
    height: 55%;
    width: 31%;
}

#registerMenu {
    height: 81%;
    width: 32%;
}

.hidden {
    display: none;
}

#menuButtons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

#menuButtons button {
    padding: 10px 20px;
    border-style: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    background-color: var(--button-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: var(--button-text-color);
    transition: background-color 0.3s ease;
}

#menuButtons button:hover {
    background-color: var(--button-hover-color);
}

#menuButtons button.activePage {
    background-color: var(--button-alt-color);
    color: var(--button-text-color);
}

#welcomeMsg {
    text-align: center;
}

#welcomeTitle {
    color: var(--header-text-color);
    font-size: 32px;
}

#welcomeDesc {
    color: var(--secondary-text-color);
    font-size: 18px;
}

#menuName {
    font-size: 20px;
    text-decoration: underline;
    align-self: center;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 2% 5%;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-color);
    background: var(--input-color);
}

#inputs input:focus {
    border: 2px solid var(--border-color);
    outline: none;
}

#inputs button {
    background-color: var(--button-color);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    width: 25%;
    padding: 10px;
    font-size: 14px;
    color: var(--button-text-color);
    margin-top: 15px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#inputs button:hover {
    background-color: var(--button-hover-color);
}

#loginResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#passRequirements {
    margin-left: 20px;
}

#passRequirements ul {
    list-style-type: circle;
    /*Can replace with a special symbol if we want*/
    margin-bottom: 10px;
}

#passRequirements li {
    margin-left: 5px;
    font-size: 12px;
}

#imageBox {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    background: transparent;
}

.error {
    margin: 0px;
    color: red;
    font-weight: bold;
}

.border-red {
    border: 3px solid red;
}